@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap');

/* Charte typographique
   ========================================================================== */
/**
 * Typographie responsive (Mobile First)
   ========================================================================
 * Les valeurs de taille de police suggérées ici sont à titre indicatif.
 * À ajuster selon la direction visuelle et le choix de polices de caractères.
 *
 * Points de rupture :
 * ==========================================================================
 * 640px  (40rem)  - Téléphones en mode paysage (horizontal)
 * 768px  (48rem)  - Tablettes en mode portrait (vertical)
 * 1024px (64rem)  - Petits ordinateurs portables, tablette en mode paysage (horizontal)
 * 1280px (80rem)  - Écrans de portables et écrans de bureau
 * 1536px (96rem)  - Écrans de bureau - souvent écrans de 24 pouces ou plus
 */

/**
 * @author Charles Piquette <2535791@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Variables
 * Styles de base
 * Accessibilité
 * Validations
 *
 */

/* ------- Reset ------- */

@import url(normalize.css);

/* ------- Variables ------- */
:root {
    /* Couleurs */
    --couleur-primaire: ?;
    --couleur-secondaire: ?;
    --couleur-tertiaire: ?;
}

/* ------- Styles de base ------- */
/* Harmoniser le modèle de boîte avec Box-Sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** Fluidifier les images ***/
img {
    max-width: 100%;
}

/* ------- Accessibilité ------- */

/* Pour cacher visuellement tout en gardant accessible un contenu: screen-reader-only ou visually-hidden */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------- Validations ------- */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F1ED;
    font-family: 'DM Sans', sans-serif;
    padding: 2rem;
}

.titre {
    font-family: 'Playfair Display';
}

.formulaire {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2rem;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
}

/* ----- bouton radio du format de la brochure -----*/
.choix_format {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.radio_button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FDFCFA;
    padding: 0.5rem;
    cursor: pointer;
    padding: 5em;
}

.bordure {
    padding-bottom: 3em;
    border: none;
}

.bouton_radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type=radio] + label{
    border: 2px solid white;
    outline: 4px solid rgb(212, 212, 212);
}

input:checked + label{
    border: 2px solid #C8501A;
    outline: 4px solid #FFF3EE;
}

/* */