@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap');

/* Charte typographique
   ========================================================================== */
/**
 * Typographie responsive (Mobile First)
   ========================================================================
 * Les valeurs de taille de police suggérées ici sont à titre indicatif.
 * À ajuster selon la direction visuelle et le choix de polices de caractères.
 *
 * Points de rupture :
 * ==========================================================================
 * 640px  (40rem)  - Téléphones en mode paysage (horizontal)
 * 768px  (48rem)  - Tablettes en mode portrait (vertical)
 * 1024px (64rem)  - Petits ordinateurs portables, tablette en mode paysage (horizontal)
 * 1280px (80rem)  - Écrans de portables et écrans de bureau
 * 1536px (96rem)  - Écrans de bureau - souvent écrans de 24 pouces ou plus
 */

/**
 * @author Charles Piquette <2535791@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Variables
 * Styles de base
 * Accessibilité
 * Validations
 *
 */

/* ------- Reset ------- */

@import url(normalize.css);

/* ------- Variables ------- */
:root {
    /* Couleurs */
    --couleur-primaire: ?;
    --couleur-secondaire: ?;
    --couleur-tertiaire: #C8501A;
}

/* ------- Styles de base ------- */
/* Harmoniser le modèle de boîte avec Box-Sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** Fluidifier les images ***/
img {
    max-width: 100%;
}

/* ------- Accessibilité ------- */

/* Pour cacher visuellement tout en gardant accessible un contenu: screen-reader-only ou visually-hidden */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.exemple__formulaire{
    color: rgb(120, 120, 120);
}

/* ------- Validations ------- */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F1ED;
    font-family: 'DM Sans', sans-serif;
    padding: 2rem;
}

header {
    display: block;
    width: 100%;
    padding: 0;
    background-color: aquamarine;
}


.titre {
    font-family: 'Playfair Display';
    padding-left: 25vw;
}

.sous-titre {
    padding-left: 25%;
}

.formulaire {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2rem;
    border-radius: 20px;
    max-width: 900px;
    width: 100%;
}

/* ----- bouton radio du format de la brochure -----*/
.choix_format {
    list-style: none;
    padding: 1em 0 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.bordure {
    padding-bottom: 3em;
    border: none;
}

.radio_choix {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FDFCFA;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
}

.bouton_radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.image_radio {
    width: 60px;
    height: 60px;
    display: block;
}

input[type=radio] + label{
    border: 2px solid white;
    outline: 4px solid rgb(212, 212, 212);
}

input:checked + label{
    border: 2px solid #C8501A;
    outline: 4px solid #FFF3EE;
}


/* ----- information de contact ----- */
/* stylisation des liste à dérouler */
.information_contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.champ_texte-contact,
.selection_postal {
    display: block;
    width: 25em;
    height: 2em;
    background: #f6f1ed;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
}

input[type=tel],
input[type=email],
.champ_texte-postal {
    display: block;
    width: 51em;
    height: 2em;
    background: #f6f1ed;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
}

.libele {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-top: 1em;
}

.titre_libele {
    padding-bottom: 5px;
}

/* ----- information postal ----- */

.information_postal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bouton_commander {
    display: flex;
    justify-content: end;
}

.btn_commander {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: end;
    align-items: center;
    color: white;
    background-color: var(--couleur-tertiaire);
    border-radius: 10px;
    border: none;
}

.btn_commander-texte {
    padding-left: 2em;
}

.btn_commander-image {
    width: 100px;
    height: 44px;
} 